<!-- Publications -->
<section>
  <h2>Publications</h2>

  <article class="row">
    <div class="thumb-cell">
      <div class="carousel" data-carousel>
        <img
          src="images/pub1-orchard.jpg"
          alt="Aerial view of study orchard with sampling transects and field crew"
        />
        <img
          src="images/pub1-robot.jpg"
          alt="Field robot with Velodyne Puck (VLP-16) and CMD sensors"
        />
      </div>
    </div>
    <div class="entry">
      <span class="title"
        ><a href="https://doi.org/10.1002/agg2.70202"
          >Near-ground microwave radiometry for on-the-go surface soil moisture
          sensing in micro-irrigated orchards in California</a
        ></span
      ><br />
      <span class="venue"
        ><i>Agrosystems, Geosciences &amp; Environment</i>, 8, e70202</span
      ><br />
      <span class="pubdate">Aug 2025</span><br />
      <span class="authors"
        >Elia Scudiero, <b>Jayanta Banik</b>, Konstantinos Karydis, Derek A.
        Houtz, Todd H. Skaggs</span
      ><br />
      <span class="publinks"
        ><a href="https://doi.org/10.1002/agg2.70202"
          >doi.org/10.1002/agg2.70202</a
        ></span
      >
    </div>
  </article>

  <article class="row">
    <div class="thumb-cell">
      <div class="carousel">
        <img
          src="images/pub2-robot.jpg"
          alt="Field robot sampling soil in a citrus orchard"
        />
      </div>
    </div>
    <div class="entry">
      <span class="title"
        ><a href="https://doi.org/10.1163/9789004725232_132"
          >Field deployment of an agricultural robot for informed sampling of
          soil apparent electrical conductivity using aisle graphs</a
        ></span
      ><br />
      <span class="venue"
        ><i>Precision Agriculture '25</i>. Leiden, The Netherlands: Wageningen
        Academic</span
      ><br />
      <span class="pubdate">Jun 2025</span><br />
      <span class="authors"
        >A. Samanta, <b>J. Banik</b>, D. Chatziparaschis, E. Scudiero, K.
        Karydis</span
      ><br />
      <span class="publinks"
        ><a href="https://doi.org/10.1163/9789004725232_132"
          >doi.org/10.1163/9789004725232_132</a
        ></span
      >
    </div>
  </article>

  <article class="row">
    <div class="thumb-cell">
      <div class="carousel">
        <img
          src="images/pub3-thesis.jpg"
          alt="Instrumented UTV with gamma radiometry, GPS, PolRa, Crop Circle ACS211, and EMI sensor on sled"
        />
      </div>
    </div>
    <div class="entry">
      <span class="title"
        ><a
          href="https://www.proquest.com/openview/7f39033c6434b621e4ddce3228a24048/1?pq-origsite=gscholar&amp;cbl=18750&amp;diss=y"
          >Sensor Directed Sampling</a
        ></span
      ><br />
      <span class="venue"
        ><i>Master's Thesis, University of California, Riverside</i>.
        Dissertations &amp; Theses, 2024. 30988255</span
      ><br />
      <span class="pubdate">Jul 2024</span><br />
      <span class="authors"
        ><b>Jayanta Banik</b> (advisors:
        <a href="https://profiles.ucr.edu/app/home/profile/elias"
          >Dr. Elia Scudiero</a
        >
        and
        <a href="https://profiles.ucr.edu/app/home/profile/karydis"
          >Dr. Konstantinos Karydis</a
        >)</span
      ><br />
      <span class="publinks"
        ><a
          href="https://www.proquest.com/openview/7f39033c6434b621e4ddce3228a24048/1?pq-origsite=gscholar&amp;cbl=18750&amp;diss=y"
          >ProQuest</a
        ></span
      >
    </div>
  </article>

  <article class="row">
    <div class="thumb-cell">
      <canvas
        class="viz"
        id="viz-sva"
        title="Rolling vector interpolation with active-learning sampling"
      ></canvas>
    </div>
    <div class="entry">
      <span class="title"
        ><a
          href="https://scisoc.confex.com/scisoc/2023am/meetingapp.cgi/Paper/152399"
          >Innovative Data Integration for On-the-Go Plant and Soil Sensing: The
          Short Vectorization Approach</a
        ></span
      ><br />
      <span class="venue"
        ><i>ASA, CSSA, SSSA International Annual Meeting</i>, St. Louis, MO
        &nbsp;<span class="award">Best Poster (2nd Place)</span></span
      ><br />
      <span class="pubdate">Oct 2023</span><br />
      <span class="authors"
        ><b>Banik, J.</b>, Singh, A., Chatziparaschis, D., Karydis, K., Skaggs,
        T. H., &amp; Scudiero, E.</span
      ><br />
      <span class="publinks"
        ><a
          href="https://scisoc.confex.com/scisoc/2023am/meetingapp.cgi/Paper/152399"
          >confex.com/scisoc/2023am</a
        ></span
      >
    </div>
  </article>

  <article class="row">
    <div class="thumb-cell">
      <canvas
        class="viz"
        id="viz-lstm"
        title="Character-level text generation with a recurrent (LSTM) network"
      ></canvas>
    </div>
    <div class="entry">
      <span class="title"
        ><a href="https://ieeexplore.ieee.org/document/9132839"
          >Study of Dependency on Number of LSTM Units for Character-Based Text
          Generation Models</a
        ></span
      ><br />
      <span class="venue"><i>IEEE ICCSEA 2020 Conference</i></span
      ><br />
      <span class="pubdate">Mar 2020</span><br />
      <span class="authors"
        >S. Chakraborty, <b>J. Banik</b>, S. Addhya, D. Chatterjee</span
      ><br />
      <span class="publinks"
        ><a href="https://ieeexplore.ieee.org/document/9132839"
          >ieeexplore.ieee.org/document/9132839</a
        ></span
      >
    </div>
  </article>
</section>
